[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "thirdparty/ios-cmake"]
	path = thirdparty/ios-cmake
	url = https://github.com/leetal/ios-cmake
[submodule "validator"]
	path = validator
	url = https://github.com/evgeniums/cpp-validator
[submodule "thirdparty/args"]
	path = thirdparty/args
	url = https://github.com/Taywee/args
[submodule "thirdparty/function2"]
	path = thirdparty/function2
	url = https://github.com/Naios/function2
